<h1>Editando House Howart</h1>

<%= render "form", howart: @howart %>

<br>

<div>
  <%= link_to "Mostrar esta House Howart", @howart %> |
  <%= link_to "Regresar a House Howarts", howarts_path %>
</div>
