<p style="color: green"><%= notice %></p>

<h1>Howarts</h1>

<%= link_to "Nueva Casa Howart", new_howart_path %>

<div id="howarts">
  <table border="1" class="table">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LOCATION</th>
        <th>HOUSE</th>
        <th>Mostrar</th>
      <tr>
    </thead>
    <% @howarts.each do |howart| %>
      <%= render howart %>
    <% end %>
  </table>
</div>
